In [21]:
import numpy as np
data = np.random.rand(5,4)
data # datos distribuidos

array([[0.79192313, 0.99396753, 0.23263102, 0.29788018],
       [0.20687271, 0.4858284 , 0.90780144, 0.58923861],
       [0.93651294, 0.617252  , 0.63797249, 0.26124961],
       [0.15383822, 0.84377415, 0.2708521 , 0.14710577],
       [0.38383207, 0.47628489, 0.35220625, 0.10190867]])

In [22]:
data.mean()

0.48444660912999904

In [24]:
import pandas  as pd           # filas                          # 
dataframe = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'], columns=['cl', 'c2', 'c3', "c4"]) 
dataframe

         cl        c2        c3        c4
a  0.791923  0.993968  0.232631  0.297880
b  0.206873  0.485828  0.907801  0.589239
c  0.936513  0.617252  0.637972  0.261250
d  0.153838  0.843774  0.270852  0.147106
e  0.383832  0.476285  0.352206  0.101909